<% unless @product.nil?%>
  <p>
    <b>Product:</b>
    <%= @product.name %>
  </p>
  <%= image_tag("#{@product.url}", :alt => "#{@product.name}", :width => 300, :height => 300, :title => "#{@product.description}") %>
  <div class="yotpo yotpo-main-widget"
    data-product-id="SKU<%= @product.id %>"
    data-name="<%= @product.name %>"
    data-url="/products/<%= @product.id %>"
    data-image-url="<%= @product.url %>"
    data-description="<%= @product.description %>">
  </div>
  <div class="yotpo-user-reference"  data-user-reference="345"></div>
<% else %>
  <p>
    <b>Please Add Products</b>
  </p>
<% end %>
